{% extends 'admin.html' %}
{% block content %}
{% load static %}
  <div class="container-fluid">
    <br>
    <div class="border p-4 shadow-lg bg-white">
      <br>
      <h3 class="text-center">Admin-Center</h3>
      <hr>
      <br>
           <br>
           <br>
           <br> 
           <br>
           <br>
           <br> 
           <br>
           <br>
           <br> 
           <br>
           <br>
           <br> 
           <br>
           <br>
           <br> 
           <br>
           <br>
           <br> 
     <hr>
      </div>
      
</div>

{% endblock %}